/AreaCientifica.class
/Autor.class
/Cd.class
/Config.class
/CustomUserDetails.class
/Emprestimo.class
/EmprestimoPK.class
/EstadoDevolucao.class
/EstadoMulta.class
/EstadoPedido.class
/EstadoRenovacao.class
/FormaAquisicao.class
/Geral.class
/Idioma.class
/Item.class
/Livro.class
/LivroCd.class
/Multa.class
/Obra.class
/ObraCategoria.class
/ObraEliminadas.class
/ObraEliminadasPK.class
/RegistroObra.class
/RegistroObraPK.class
/Requisicao.class
/Revista.class
/Role.class
/TipoObra.class
/TipoRequisicao.class
/Users.class
