<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd
           http://www.springframework.org/schema/tx
                   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd">


    <!-- <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
        <!-- <property name="driverClassName" value="org.postgresql.Driver" /> -->
        <!-- <property name="url" value="jdbc:postgresql://ec2-23-23-80-20.compute-1.amazonaws.com:5432/d5b0hk16j5hm0n?ssl=true&amp;sslfactory=org.postgresql.ssl.NonValidatingFactory"/> -->
        <!-- <property name="username" value="faowvudjaqofvd" /> -->
        <!-- <property name="password" value="56679e6c26926f3c2424e5f2347bdd5a2a544b4cf9c0c86e66eed380196e0185" /> -->
    <!-- </bean> -->

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver" />
        <property name="url" value="jdbc:postgresql://localhost:5432/sgb"/>
        <property name="username" value="postgres" />
        <property name="password" value="root" />
    </bean>

    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="sgb.domain" />
        <property name="hibernateProperties">
            <props>
            <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQL82Dialect</prop>
            <prop key="hibernate.hbm2ddl.auto">update</prop>
            <prop key="hibernate.show_sql">true</prop>
            <prop key="hibernate.format_sql">true</prop>
            <prop key="hibernate.use_sql_comments">true</prop>
            <prop key="hibernate.zeroDateTimeBehavior">convertToNull</prop>
        </props>
        </property>
        <!-- Enable Hibernate's automatic session context management -->
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager" />

    <bean id="transactionManager"
          class="org.springframework.orm.hibernate4.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>


    <bean id="CRUDService" class="sgb.service.CRUDServiceImpl" />

    <bean id="configSingleton" scope="singleton" class="sgb.controller.domainController.ConfigSingleton" >
        <constructor-arg index="0" ref="CRUDService"/>
    </bean>

    <bean id="emprestimoControllerSingleton" scope="singleton" class="sgb.controller.domainController.EmprestimoControllerSingleton" >
        <constructor-arg index="0" ref="CRUDService"/>
        <constructor-arg index="1" ref="configSingleton"/>
        <constructor-arg index="2" ref="estadoPedidoSingleton"/>
    </bean>

    <bean id="deadlineMonitorRequestedBooks" scope="singleton" class="sgb.deadline.DeadlineMonitorRequestedBooks" >
        <constructor-arg index="0" ref="deadlineRequestedBooks"/>
        <constructor-arg index="1" ref="emprestimoControllerSingleton"/>
        <constructor-arg index="2" ref="estadoPedidoSingleton"/>
    </bean>

    <bean id="deadlineRequestedBooks" scope="singleton" class="sgb.deadline.DeadlineRequestedBooks" >
        <constructor-arg index="0" ref="configSingleton"/>
    </bean>

    <bean id="estadoPedidoSingleton" scope="singleton" class="sgb.controller.domainController.EstadoPedidoSingleton" >
        <constructor-arg index="0" ref="CRUDService"/>
    </bean>

    <context:annotation-config />
    <context:component-scan base-package="sgb"/>
</beans>